.fukuro-modal-window {
  display: flex;
  flex-direction: column;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 999999;
  height: 90%;
  width: 60%;

  margin: auto;

  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation-name: modal-window-fade;
  animation-duration: 0.2s;
  border-radius: 2px;
}

.fukuro-modal-drag {
  cursor: move;
}

.fukuro-modal-resizer {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.fukuro-modal-window-content {
  flex: auto;
  overflow: auto;
}

.fukuro-modal-window-backdrop {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes modal-window-fade {
  from {
    transform: translateX(-50%);
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: scale(1);
    opacity: 1;
  }
}
